.main-page-modal{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
    padding: 2rem;
    opacity: .0;
}
.main-page-container{
    display: grid;
    grid-template-rows: auto 4% auto auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.6rem;
}

.main-page-logo{
    background: url(https://agibusiness.com/wp-content/uploads/2023/04/agi_logo_azul.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
}
.success-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.success-message p{
    font-size: 2rem;
    text-align: center;
}
.terms-and-conditions{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.terms-and-contains-container{
    width: 90%;
    height: 22rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}
.terms-and-contains-container h2{
    font-size: 1.6rem;
}
.terms-and-contains-container .terms-inst{
    font-size: 1.4rem;
    color: #252525;
}
.terms-and-contains-container ol li{
    font-size: 1.4rem;
    margin-bottom: .6rem;
    color: #707070;
}
.terms-and-contains-container ol li strong{
    color: black;
}
.term-acceptance{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:1rem ;
}
.term-acceptance p{
    font-size: 1.4rem;
    margin-bottom: .6rem;
    color: #252525;
}

.main-page-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
 .print-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .print-button:hover {
    background-color: #0056b3;
  }


  /* Estilo para el contenedor del checkbox */
.check-container {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    font-size: 14px;
}




  









