.left-version{
    width: 100%;
    height: 100%;
    padding: 3.6rem;
    background-color:var(--bg-dark-card);
    border-radius: 1.8rem;
    color: white;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    row-gap: var(--spacing-sections);
    overflow: auto;
}
.panel-item{
    width: 100%;
    height: auto;
}
.panel-item-icon{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.icon-container{
    width: 5rem;
    height: 5rem;
    background-color: var(--bg-dark-icons);
    display: grid;
    place-content: center;
    border-radius: 50%;
}
.bx-check-shield{
    font-size: 3rem;
    color: var(--title-dark);
}
.title-container{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}
.panel-item-title-h2{
    font-size: var(--font-size-title);
    font-weight: 500;
}
.panel-item-subtitle{
    font-size: var(--font-size-subtitle);
    color: var(--text-dark-body);
    opacity: .8;
}



.panel-item {
  margin: 0;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1.2rem 1.2rem;
  background-color: var(--toggle-bg-dark);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
}

.button:hover {
  background-color: var(--toggle-bg-hover);
}

.button i {
  margin-right: 10px;
  font-size: 22px;
  color: #d7d7d7;
}

.button span {
  font-size: 18px;
  color: #d7d7d7;
}

.hidden-toggle{
  opacity: .4;
  cursor: default;
  user-select: none;
  pointer-events: none;

}
.step-completion i{
  color: var(--toggle-icon-dark);
}

/* .hidden-toggle:hover{
  background-color: none;
} */



