.main_container{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
}
.section{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.section h2{
    font-size: clamp(1.5rem,4vw + .3vh,.875rem);
    /* margin-bottom: .8rem; */
}
.sub-title{
    /* margin-bottom: .8rem; */
    font-size: 1.6rem;
}
